.btn {
  border: none;
  margin: 0;
  padding: 0;
  font-family: Montserrat-Bold;
  font-size: 22px;
  line-height: 29px;
  height: 51px;
  background: #fff;
  border: solid 1px #d43d40;
  border-radius: 51px;
  padding: 0px 25px;
}

.margin-left {
  margin-left: 10px;
}

.btn_danger {
  color: white;
  background: #d43d40;
  transition: color 0.5s;
  &:hover {
    background: darken(#d43d40, 6);
    color: darken(#ffff, 6);
  }
}

.work {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.work_subtitle {
  display: block;
  padding: 25px;
  text-align: center;
  font-family: Montserrat-Medium;
  font-size: 16px;
  color: #ea4235;
  line-height: 21px;
}
.work-item {
  position: relative;
  width: 360px;
  height: 360px;
  color: #fff;
  cursor: pointer;
  img {
    z-index: 1;
  }
  .work-item-label {
    position: absolute;
    top: 0px;
    z-index: 3;
  }
  .work_mask {
    width: 360px;
    height: 360px;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    background: linear-gradient(0deg, #fff, #1f1f1f);
    opacity: 0.6;
  }
}
.work-item-label {
  position: absolute;
  top: 0px;
  padding: 30px;
  z-index: 2;
  .work-title {
    font-family: Montserrat-Medium;
    font-size: 18px;
    line-height: 24px;
  }
  p {
    font-family: Roboto-Regular;
    font-size: 14px;
    line-height: 19px;
  }
}
.work-modal {
  z-index: 2001;
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.work_modal_content {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  padding: 60px;
  .modal_title {
    font-family: Montserrat-Medium;
    font-size: 32px;
    line-height: 43px;
    color: #000000;
    margin-bottom: 5px;
  }
  .modal_subtitle {
    font-family: Roboto-Regular;
    font-size: 22px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 15px;
  }
  .close_modal {
    position: absolute;
    top: 55px;
    right: 55px;
    padding: 5px;
    color: #000;
    cursor: pointer;
    &:hover {
      color: lighten(#000, 4);
    }
  }
}
.modal_body {
  display: flex;
  position: relative;
  height: calc(100% - 80px);
  overflow-y: auto;
  .section_right {
    img {
      width: 100%;
      height: auto;
    }
    min-width: 40%;
    max-width: 740px;
    max-height: 740px;
    height: auto;
    margin: 0px;
  }
  .section_left {
    min-width: 40%;
    padding: 0px 20px;
    font-family: Roboto-Regular;
    h5 {
      margin: 0;
      color: #323232;
      font-size: 28px;
      line-height: 37px;
    }
    .section_left_body {
      overflow-y: auto;
      margin: 20px 0;
    }
    p {
      color: #000000;
      font-size: 18px;
      line-height: 24px;
    }
  }
}
